build/*
build-utests/*
include/
lib/*
!/bin/ipaddrs.sh
bin/*
*~
*/*~
*attic*
ivp/missions/*/LOG*
ivp/missions/*/XLOG*
ivp/missions/*/MOOSLOG*
ivp/missions/*/targ*
ivp/missions/*/vcolors.txt
ivp/missions/*/vloiterpos.txt
ivp/missions/*/vpositions.txt
ivp/missions/*/vspeeds.txt
ivp/missions/*/vnames.txt
ivp/missions/*/.LastOpenedMOOSLogDirectory
ivp/missions/*/*++
ivp/missions/*/*~+
*#
mis

.DS_Store
